*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: rgb(230, 159, 127);

}
h1{
    color:  red;
}
main{
    img{
        width: 200px;
        display: block;
    }
    div{
        width: 200px;
        height: 100px;
        background-color: aqua;
        border: solid 2px;
        display: inline-block;
    }
    article{
        width: 200px;
        height: 100px;
        background-color:rosybrown;
        display: inline;
    }
}
